body {
    font-family: "Avenir","Helvetica","Arial",sans-serif;
    margin: 0;
}

.text-spacing {
    /* padding-left: 20px; */
    justify-content: space-evenly;
}

.rec-container {
    padding-bottom: 10px;
}
      
